@import "../styles/_Variables.scss";
@import "../styles/Breakpoints";

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;

    .copyright {
        display: flex;
        align-items: center;

        p {
            font-size: 0.7rem;

            @include desktop {
                font-size: 1.2rem;
              }
        }

    }

    .social-links {
        display: flex;
        align-items: flex-end;
        justify-content: end;

        .social {
            width: 15%;
            padding-right: 0.4rem;

            @include LGmobil {
                width: 9%
            }
            @include tablet {
                width: 9%
            }
            @include LGtablet {
                width: 9%
            }
            @include desktop {
                width: 9%
            }
            @include LGdesktop {
                width: 9%
            }
        }

        img {
            width: 24%;
            filter: drop-shadow(3px 8px 10px rgba(0, 0, 0, 0.39));

            @include LGmobil {
                width: 9%
            }
            @include tablet {
                width: 9%
            }
            @include LGtablet {
                width: 9%
            }
            @include desktop {
                width: 9%
            }
            @include LGdesktop {
                width: 9%
            }
        }
    }
}