@import "../styles/_Variables.scss";
@import "../styles/Breakpoints";

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 1.5rem;
    background-color: $backgroundYellowGrey;

    .copyright {
        display: flex;
        align-items: center;

        p {
            padding: 0.3rem;
            font-size: 0.8rem;

            @include desktop {
                font-size: 1.2rem;
              }
        }

    }

    .social-links {
        display: flex;
        align-items: flex-end;
        justify-content: end;
        width: 50%;

        img {
            width: 22%;

            @include desktop {
                width: 13%;
              }
        }
    }
}