@import "../styles/_Variables.scss";
@import "../styles/Breakpoints";

.link-to-home {
    .container-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: transparent;
    
        ul {
            display: flex;
            justify-content: end;
            align-items: center;
            height: 5em;
    
            @include desktop {
                height: 6em;
              }
    
            .link-to-home {
                margin-right: auto;
            }
    
            li {
                font-family: $Bungee;
                font-size:0.9rem;
                margin: 0.7rem;
    
                @include desktop {
                    font-size: 1.4rem;
                    margin: 1.8rem;
                  }
    
                a{
                    color: $grey;
                    text-transform: uppercase;
                }
            }
    
        }
    }
}

.not-link-to-home {
    .container-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: transparent;
    
        ul {
            display: flex;
            justify-content: end;
            align-items: center;
            height: 5em;
    
            @include desktop {
                height: 6em;
            }
    
            .link-to-home {
                display: none;
            }
    
            li {
                font-family: $Bungee;
                font-size:0.9rem;
                margin: 0.7rem;
    
                @include desktop {
                    font-size: 1.4rem;
                    margin: 1.8rem;
                  }
    
                a{
                    color: $grey;
                    text-transform: uppercase;
                }
            }
    
        }
    }
}