@import "../styles/_Variables.scss";
@import "../styles/Breakpoints";

.home {
    position: relative;
    width: 100%;
    height:100vh;

    .container-double {
        width: 100%;
        height: 100%;

        @include desktop {
            display: flex;
            flex-direction: row-reverse;
        }

        .waves-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url("../assets/waves.jpg");
            width: 100%;
            height: 60%;
            background-size: cover;
            background-repeat: no-repeat;

            @include desktop {
                width: 60%;
                height: 100%;
            }
        }
        
        .yellow-box {
            display: flex;
            align-items: end;
            width: 100%;
            height: 40%;
            background-color: $backgroundYellowGrey;

            @include desktop {
                width: 40%;
                height: 100%;
            }

            h1 {
                display: none;

                @include LGmobil {
                }
                @include tablet {
                }
                @include LGtablet {
                }
                @include desktop {
                    display: flex;
                    font-size: 3rem;
                    font-family: $Bungee;
                    // color: #009688;
                    align-self: flex-start;
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    word-spacing: -0.5em;
                }
                @include LGdesktop {
                }
            }
        }
    }
}