@import "../styles/_Variables.scss";
@import "../styles/Breakpoints";

.project-id {
    width: 100%;
    height: 18vh;
    margin: 10px;

    @include LGmobil {
      height: 24vh;
    }
    @include tablet {
        height: 37vh;
      }
    @include LGtablet {
        height: 50vh;
      }
    @include desktop {
        height: 63vh;
    }
    @include LGdesktop {
        height: 63vh;
    }

    .container-box {
        position: relative;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        width: 75%;
        height: 106px;

        @include LGmobil {
            height: 150px;
          }
        @include tablet {
            height: 225px;
          }
        @include LGtablet {
            height: 300px;
          }
        @include desktop {
            height: 380px;
        }
        @include LGdesktop {
            height: 450px;
        }


        .box-left {
            width: 60%;
            height: 100%;
            background-color: $pink;
        }

        .box-right {
            width: 40%;
            height: 100%;
            background-color: $blue;
        }
  
        .box-image {
          position: absolute;
          border: 5px solid black;
          width: 70%;
          height: 90%;
          left: calc(50% - 44%);
          overflow: hidden;
          transition: 0.3s;

          &:hover {
            -webkit-filter: drop-shadow(5px 10px 10px #000); /* Chrome, Safari, Opera */
            filter: drop-shadow(5px 10px 10px #000);
            transition: 0.3s;
          }
          &:hover img {
            -webkit-filter : contrast(60%); /* Chrome, Safari, Opera */
            filter : contrast(60%);
            transition: 0.3s;
          }

          &:hover .title-project {
            opacity: 1;
            transition: 0.3s;
          }

          @include LGmobil {
            }
          @include tablet {
            }
          @include LGtablet {
            }
          @include desktop {
          }
          @include LGdesktop {
          }

          img {
            position: relative;
            max-width: 100%; // Ton image ne sera jamais plus grande que sa taille originale
            width: 100%;
          }

        .title-project {
          position: absolute;
          font-size: 30px;
          top: calc(50% - 30px);
          left: calc(50% - 75px);
          width: 150px;
          height: 60px;
          text-align: center;
          line-height: 56px;
          opacity: 0;
          transition: 0.3s;
          z-index: 999;
          color: black;
        }
        }
    }
}