@import "../styles/_Variables.scss";
@import "../styles/Breakpoints";

.project {
    .container-box2 {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 11rem;

        @include LGmobil {
            height: 12rem;
        }
        @include tablet {
            height: 18rem;
        }
        @include LGtablet {
            height: 27rem;
        }
        @include desktop {
            height: 34rem;
        }
        @include LGdesktop {
            height: 42rem;
        }

        .box-left2 {
            width: 50%;
            height: 100%;
            background-color: $pink;
        }

        .box-right2 {
            width: 50%;
            height: 100%;
            background-color: $blue;
        }

        img {
            position: absolute;
            border: 3px solid black;
            width: 84%;
            height: 90%;
            left: 7%;

        @include LGmobil {
            left: 8%;
        }
        @include LGtablet {
            width: 90%;
            left: 7%;
        }
        @include desktop {
            width: 84%;
        }
        @include LGdesktop {
            width: 84%;
            height: 90%;
        }
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.7rem;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            text-align: justify;
        }

        .btn-flip {
            display: inline-block;
            margin: 3rem auto;
            opacity: 1;
            outline: 0;
            color: #fff;
            line-height: 40px;
            position: relative;
            text-align: center;
            letter-spacing: 1px;
            text-decoration: none;
            font-family: 'Open Sans';
            text-transform: uppercase;
        
            &:hover {
                
                &:after {
                opacity: 1;
                transform: translateY(0) rotateX(0);
                }
                
                &:before {
                opacity: 0;
                transform: translateY(50%) rotateX(90deg);
                }
            }
            
            &:after {
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                color: #323237;
                display: block;
                transition: 0.5s;
                position: absolute;
                background: $backgroundYellow;
                content: attr(data-back);
                transform: translateY(-50%) rotateX(90deg);
            }
            
            &:before {
                top: 0;
                left: 0;
                opacity: 1;
                color: #adadaf;
                display: block;
                padding: 0 30px;
                line-height: 40px;
                transition: 0.5s;
                position: relative;
                background: #323237;
                content: attr(data-front);
                transform: translateY(0) rotateX(0);
            }
        }
    } 
}