// COLORS
$backgroundYellow: rgb(245, 245, 220);
$backgroundYellowGrey: rgb(246, 246, 238);
$green: rgb(192, 211, 161);
$LightBlue: rgb(145, 224, 236);
$blue: rgb(85, 130, 170);
$pink: rgb(222, 154, 186);
$grey: rgb(75, 78, 78);
$white: rgb(245, 245, 245);

// FONTS
$Bungee: 'Bungee', cursive;
$BungeeOutline: 'Bungee Outline', cursive;
$BungeeShade: 'Bungee Shade', cursive;
$Ibarra: 'Ibarra Real Nova', serif;